<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("/Content/materialize/css/materialize.min.css")
    @Styles.Render("/Content/materialize/font/roboto")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            if (!Modernizr.inputtypes.date) {
                $(function () {
                    $("input[type='date']")
                                .datepicker({ dateFormat: 'dd/mm/yy' })
                                .get(0).setAttribute("type", "text");
                })
            }
        });
    </script>
</head>
<body>
    <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="@Url.RouteUrl("EnterpriseList")" class="brand-logo">Enterprise</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="@Url.RouteUrl("about")">About</a></li>
                <li><a href="@Url.RouteUrl("RSSFeed")">RSS FEED</a></li>
                <li><a href="@Url.RouteUrl("LogOff")">LogOff</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()

   
</body>
</html>
