@model EnterpriseCatalog.Models.Enterprises
@using Embedded_Resource
@{
    ViewBag.Title = "Create";
}

<h2>@GlobalRes_ua.createNewEnterprise</h2>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
       
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employeers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employeers)
            @Html.ValidationMessageFor(model => model.Employeers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Income)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Income)
            @Html.ValidationMessageFor(model => model.Income)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDate)
            @Html.ValidationMessageFor(model => model.CreationDate)
        </div>

        <p>
            <button type="submit" class="waves-effect waves-light btn submit">@GlobalRes_ua.create</button>
            <button type="reset" class="waves-effect waves-light btn red" value="Save">@Html.ActionLink(GlobalRes_ua.decline, "List")</button>
        </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
