@model EnterpriseCatalog.Models.Enterprises

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Підприємство</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employeers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employeers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Income)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Income)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button type="submit" class="waves-effect waves-light btn submit red">Видалити</button>
        <button type="reset" class="waves-effect waves-light btn " value="Save">@Html.ActionLink("Отмена", "List")</button>  
    </p>
}
