@model EnterpriseCatalog.Models.Enterprises
@using Embedded_Resource
@{
    ViewBag.Title = "Delete";
}

<h2>@GlobalRes_ua.delete</h2>

<h3>@GlobalRes_ua.deleteConformation</h3>
<fieldset>
    <legend>@GlobalRes_ua.enterprise</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employeers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employeers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Income)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Income)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button type="submit" class="waves-effect waves-light btn submit red">@GlobalRes_ua.delete</button>
        <button type="reset" class="waves-effect waves-light btn " value="Save">@Html.ActionLink(GlobalRes_ua.decline, "List")</button>  
    </p>
}
