@model IList<EnterpriseCatalog.Models.Enterprises>
@using Embedded_Resource
@{
    ViewBag.Title = "List";
}

<h2>Cпсоск підприємств</h2>
<br/>
<table class="striped bordered center">
    <tr>
        <th>
          @GlobalRes_ua.nameOfEnterprise
        </th>
        <th>
           @GlobalRes_ua.address
        </th>
        <th>
           @GlobalRes_ua.amountOfEmployeers
        </th>
        <th>
           @GlobalRes_ua.income
        </th>
        <th>
          @GlobalRes_ua.dateOfCreation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employeers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Income)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            <div class="waves-effect waves-light btn function-button">@Html.ActionLink(GlobalRes_ua.edit, "Edit", new { id = item.Id })</div>
            <div class="waves-effect waves-light btn function-button">@Html.ActionLink(GlobalRes_ua.details, "List", "Workforce", new { id = item.Id }, null) </div>
            <div class="waves-effect waves-light btn function-button red">@Html.ActionLink(GlobalRes_ua.delete, "Delete", new { id = item.Id })</div>
</td>
    </tr>
}

</table>
<br/>
<div><a class="waves-effect waves-light btn" href="@Url.RouteUrl("createEnterprise")">@GlobalRes_ua.createNewEnterprise</a></div>